h1{
    text-align: center;
}


h2{
    text-align: right; 
        /* OR
    text-align: end;  */
   

}

h3{
    text-align: left;
        /* OR  
    text-align: start; */
}

p{
     text-align: justify;
}